.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin: 50px;
}

.card {
  flex: 1 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-img-top {
  flex-shrink: 0;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  max-width: 100%;
  height: auto;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  font-size: 1.5rem;
}