

.postit {
  height: 400px;
  width: 400px;
  padding: 10px;
  background: rgb(251,255,188);
  background: linear-gradient(131deg, rgba(251,255,188,1) 0%, rgba(255,228,10,1) 100%);
  box-shadow: 1px 10px 20px 4px #999999;
  margin: 20px;
  position: relative;
}

.postit p {
  margin: 5px 0 20px;
}

.postit p.first {
  margin-left: 80px;
}

.heart {
  position: absolute;
  top: 295px;
  left: 300px;
  transform: rotate(20deg);
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 40px;
  top: 0px;
  width: 40px;
  height: 75px;
  background: purple;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.army {
  top: 15px;
  left: 15px;
  position: absolute;
  transform: rotate(90deg);
}
.army .l {
  border-bottom: 30px solid black;
  border-left: 30px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid transparent;
  height: 0;
  width: 100px;
}
.army .m {
  height: 10px;
}
.army .r {
  top:10px;
  left: 10px;
  border-top: 30px solid black;
  border-left: 30px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 100px;
}