.navbar {
  background-color:#d0e6fb;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  z-index: 10000;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-link {
  padding: 0.2rem 1rem;
  font-weight: bold;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  height: 30px;
  width: 30px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social {
  display: block;
  height: 30px;
  width: 30px;
}

#twitter-bg .st0 {
  fill: #000000;
}
.social:hover #twitter-bg .st0 {
  fill: #1DA1F2;
}

#twitter-logo .st1 {
  fill: #d0e6fb;
}
.social:hover #twitter-logo .st1 {
  fill: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  header .navbar ul.nav {
    display: none;
  }
  .podcast-badges {
    flex-direction: column;
    align-items: center;
  }
}
