.timeline-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.date {
  width: 90px;
  font-size: 1.5rem;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50% 50%;
  background-color: black;
  margin-top: 10px;
}

.event {
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255,255,255,.7);
}

h2.title {
  margin: 0;
}

.description {
  margin: 10px 0;
}