.title-container {
  position: relative;
}

.title-backdrop {
  background: url("../img/bts1.jpg") center;
  margin: 0;
  width: 100%;
  top: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-content {
  margin: 0 auto; 
}

.window {
  height: 300px;
  background: none;
  width: 100%;
}

.heading {
  width: 100%;
  margin: 0;
  padding: 10% 5% 6% 5%;
  /* font and size */
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bolder;
  font-size: 9vw; 
  line-height: .9em;
  /* cutout effect */
  background-color: #cbe2fa;
  color: black;
  mix-blend-mode: lighten;
}

.description {

}