.title-container {
  position: relative;
}

.title-backdrop {
  background: url("../img/bts5.jpg") center;
  background-size: cover;
  margin: auto;
  width: 100%;
}

.title-text {
  /* font and size */
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bolder;
  font-size: 10vw; 
  line-height: .9em;
  /* position */
  margin: 0 auto; /* Center the text container */
  padding: 100px;
  width: 100%;
  /* cutout effect */
  background-color: rgb(70, 19, 128);
  color: white;
  mix-blend-mode: multiply;
}