.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f77599, #3d80c2);
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0;
  top: 0;
}

/****** Nav ******/

.nav {
  background-color:rgb(18, 18, 18);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-icon {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 10px 5px 10px;
}

.nav-icon img, .nav-icon svg  {
  height: 30px;
  width: 30px;
}

.nav-icon.right-align {
  padding-right: 20px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.nav-link {
  font-weight: bold;
  padding: 0 5px;
}

#twitter-bg .st0 {
  fill: #000000;
}
.social:hover #twitter-bg .st0 {
  fill: #1DA1F2;
}

#twitter-logo .st1 {
  fill: #d0e6fb;
}
.social:hover #twitter-logo .st1 {
  fill: #FFFFFF;
}

/****** Footer ******/

footer {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline-flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  color: #cbe2fa;
}

.spacer {
  height: 100px;
}

section {
  width: 100%;
  margin: 0;
}

/****** Mobile ******/

@media only screen and (max-width: 600px) {
  header .nav ul.nav-links {
    display: none;
  }
}

/****** Reset ******/
*, :after, :before {
  box-sizing: border-box;
}
a {
  color: #cbe2fa;
  text-decoration: none;
  background-color: transparent;
}
img, svg {
  vertical-align: middle;
}
/****** Colors  ******/

/* PERSONA #f77599 */
/* SEVEN   #3d80c2 */
/* Site Light Blue #cbe2fa */
