.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f77599, #3d80c2);
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0;
}

footer {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline-flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  color: white;
}

.spacer {
  height: 100px;
}

section {
  width: 100%;
}

.podcast-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.podcast-badges .badge {
  display: inline-flex;
  width: 165px;
  height: 45px;
}
.podcast-badges .badge img{
  width: 100%;
}

/* PERSONA #f77599 */
/* SEVEN   #3d80c2 */

.link {
  color: #09d3ac;
}

/* RESET */
* {
  box-sizing: border-box;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
