code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0px;
}

footer {
  margin: 10px 0;
}

b {
  font-size: 1.2em;
  color: rgb(60, 7, 114);
}

i {
  font-size: 1em;
  color: rgb(63, 63, 63);
}

a {
  color: rgb(115, 80, 150);
  text-decoration: none;
}